/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body::before {
        content: 'Extra Small Devices';
        width: 100%;
        height: 20px;
        background: var(--xs-bg-color);
        color: #fff;
    }
}
